{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <h1>{% block title %}Three causes, three huge outcomes{% endblock %}</h1>
    <br>
    <br>
    <p>With my own donation, I will be supporting each of the three causes equally. However, <b>you can choose which to support</b> using the 'Edit Allocation' button after clicking 'Donate' on the sponsorship page.</p>
    <button type="button" class="btn btn-primary" onclick="location.href='https://www.givingwhatwecan.org/fundraisers/from-england-to-istanbul'">Donate</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('post_a_message')}}';">Post a sponsorship message</button>
    <br>
    <br>
    <br>
    <h4>
        <a href="https://www.givingwhatwecan.org/charities/helen-keller-international">
            Helen Keller International's vitamin A supplementation program
        </a>
    </h4>
    <p>Helen Keller International's vitamin A supplementation program is a stunningly effective intervention preventing <b>visual impairment, blindness and death</b> in children living in developing countries.</p>
    
    <p>The WHO estimates that <a href="https://www.who.int/data/nutrition/nlis/info/vitamin-a-deficiency">250,000-500,000 vitamin A-deficient children</a> become blind annually with half dying within the year. Givewell, an independent research organisation, estimates conservatively that Helen Keller's program <a href="https://www.givewell.org/impact-estimates#Impact_metrics_for_grants_to_GiveWells_top_charities">prevents one of these deaths for every $4,000 donated</a> by providing supplements to fill nutritional gaps in restricted local diets.</p>
    
    <p>This means that <b>we can reasonably hope to prevent a child's death as a part of this fundraising effort</b>.</p>
    <br>
    <h4>
        <a href="https://www.founderspledge.com/funds/climate-change-fund">
            Founders Pledge's Climate Change Fund
        </a>
    </h4>
    <p>Under the management of expert Johannes Ackva, the Founders Pledge Climate Change Fund works to find and fund <b>neglected but powerful methods of reducing carbon emissions</b>. They issue grants to a range of carefully chosen research and advocacy organisations - but <b>Terra Praxis</b> is an example I particularly like.</p>
    
    <p>Have you ever heard of <a href="https://www.terrapraxis.org/projects/repowering-coal">Coal Repowering</a>? I hadn't either; it's not widely known. It refers to the idea of replacing the carbon-spewing heart of a coal power station with a zero-emissions, safe modern nuclear reactor, while making use of all the existing infrastructure - site, heat and power transmission, workforce, investment - of the original plant.</p>

    <p>As unsexy as it sounds, the potential scale of emissions reduction here is immense: fully <b>12bn of the global 35bn tons of annual emissions</b> are emitted by coal power stations. Crucially, Terra Praxis has found a way to address this without requiring politicians or investors to risk punishment by shutting down a plant, making it a <b>realist, practical solution</b> to the problem.</p>
        
    <p>Terra Praxis got started with a grant from the Founders Pledge Climate Change Fund and are now the key organisation developing and promoting the Coal Repowering process.</p>

    <br>

    <h4>
        <a href="https://www.givingwhatwecan.org/charities/strongminds">
            StrongMinds
        </a>
    </h4>
    <p>Sadly, it is a myth that mental health disorders such as depression are only a problem in the rich world. In reality, rates in low-income countries are as high or higher; the <a href="https://www.founderspledge.com/research/strongminds">depression rate in Uganda is twice the typical rate in developed countries</a>.</p>

	<p>StrongMinds is responding to this by providing <b>free interpersonal group therapy to women in sub-Saharan Africa</b>, using an approach that has been shown to be effective in randomised controlled trials, the gold standard of evidence. Founders Pledge estimates that they <a href="https://www.founderspledge.com/research/mental-health-report-summary">prevent one year of severe major depressive disorder for roughly $250</a>.</p>
    
    <p>Having been affected by depression personally, I know what that year means. Those women in sub-Saharan Africa are just as real as I am, and I want to act to support them.</p>

    We can reasonably hope to prevent a decade of severe depression as a part of this fundraising effort. 


    <br>
    <br>
    <br>
    <br>

{% endblock %}