{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <img src="{{url_for('static', filename='fundraiser.jpg')}}" alt="Fundraiser image" class="anyofimgclass">
    <br>
    <br>
    <br>
    <h1>{% block title %}My name is Hannes, and I'm taking my bike on a solo journey of 5,000km from my hometown of Cambridge, UK, to Istanbul.</b> {% endblock %}</h1>
    <br>
    <p>Beginning on 23rd August 2023, it will be a long, arduous, exhausting, painful, and wonderful journey of one man, one bike, and one overcomplicated camping hammock. I am doing it <b>to try to raise $12,000</b> to support three charities: <a href="{{url_for('causes')}}#Helen-Keller-Vitamin-A">
        Helen Keller International's vitamin A supplementation program</a>, the 
    <a href="{{url_for('causes')}}#Founders-Pledge-Climate-Fund">Founders Pledge Climate Change Fund</a>, and 
    <a href="{{url_for('causes')}}#StrongMinds">StrongMinds</a>.</p>

    <p>If we reach the target, it should be enough to: 
        <ul>
            <li>Save one child living in the developing world from suffering <b>blindness, followed by death</b>, due to vitamin A deficiency;</li>
            <li>Prevent the emission of very roughly <b>4,000 tonnes of carbon dioxide equivalent</b>;</li>
            <li>Prevent about <b>15 years' worth of severe depression</b> in women in sub-Saharan Africa.</li>
          </ul>
    <i>I believe these things are worth doing.</i>
    </p>
    <p>From here, you can read more about the causes and impact estimates, see my travel journal and photos, or track my progress on the map!</p>
    <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('causes')}}';">The Causes</button>
    <button type="button" class="btn btn-primary" onclick="location.href='https://from-england-to-istanbul.blogspot.com';">Journal and photos</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('route')}}';">Track me</button>
    <br>
    <br>
    <br>

    <p>Donations can be made on <a href="https://www.givingwhatwecan.org/fundraisers/from-england-to-istanbul">this page</a> at Giving What We Can, but it's not possible to post a sponsorship message there. If you make a donation, <b>be sure to let me know by <a href="{{ url_for('post_a_message') }}">posting a message below</a></b>! It means a huge amount to me to have your support on my long journey, and creates a buzz that encourages others to help too. If you wish, you can choose to remain anonymous and just post a message, or even just register your donation.</p>
    If you have any questions, or you'd prefer to let me know by email, just send me a message at <a href = "mailto: hannes.whittingham@gmail.com">hannes.whittingham@gmail.com</a>!
    <br>
    <br id="Supporters">
    <button type="button" class="btn btn-primary" onclick="location.href='https://www.givingwhatwecan.org/fundraisers/from-england-to-istanbul'">Donate</button>
    <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('post_a_message')}}';">Post a sponsorship message</button>
    <br>
    <br>
    <br>
    <h3>Supporters</h3>
    <br>
    <hr>
    {% for msg in sponsorship_messages %}
        <!--<a href="{{ url_for('msg', msg_id=msg['id']) }}"> -->
        <div style="float: right">
            <span class="badge badge-primary">{{ msg['date'] ~ " " ~ msg['time'] }}</span>
        </div>
        <div style="float: left">
            <h5>{{ msg['your_name'] }}</h5><b>{{msg['sponsorship_currency'] ~ (msg['sponsorship_amount']) }}</b>
            <br>
            {{ 'No message' if msg['your_message'] in ['-', '', None] else msg['your_message']}}
            <br>
            <br>
        </div>
        <!--</a>-->
        <div style="clear: both">
            <hr>
        </div>



    {% endfor %}
{% endblock %}
