{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h1>{% block title %} Leave a message! {% endblock %}</h1>
<br>
<p>Thank you very much for sponsoring me, both from me, and on behalf of the people you have helped.</p>

<p>At the moment, Giving What We Can are not able to host sponsorship messages, so please post one using the form below! It will mean a great deal to me to read messages from friends and supporters as I go, and it creates a buzz that encourages others to help too. While I would like to be able to thank you, please feel free to post anonymously, or just let me know by email at <a href = "mailto: hannes.whittingham@gmail.com">hannes.whittingham@gmail.com</a>.</p>

<br>

<form method="post">
    <div class="form-group">
        <label for="your_name"><b>Your Name</b></label>
        <input type="text" name="your_name"
               placeholder="Anonymous" class="form-control"
               value="{{ request.form['your_name'] }}"></input>
    </div>
    <div class="form-group">
        <label for="title"><b>Sponsorship Currency</b></label>
        <select class="form-select" id="sponsorship_currency" name="sponsorship_currency">
            <option value="£"> £ </option>
            <option value="$"> $ </option>
            <option value="€"> € </option>
        </select>
    </div>
    <div class="form-group">
        <label for="sponsorship_amount"><b>Sponsorship Amount*</b></label>
        <br>
        <input type="text" name="sponsorship_amount"
               placeholder="0.00" class="form-control"
               value="{{ request.form['sponsorship_amount'] }}"></input>
    </div>
    <div class="form-group">
        <label for="your_message"><b>Message</b></label>
        <textarea name="your_message" placeholder="Write me a message!"
                  class="form-control">{{ request.form['your_message'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="your_email"><b>Your email</b> <i>(just so I can send a thank you; not shown on site)</i></label>
        <textarea name="your_email" placeholder=""
                  class="form-control">{{ request.form['your_email'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<br>
<br>
<br>
<br>

{% endblock %}